body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.var-list {
    font-weight: bold;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 35px;
}

images {
    text-align: center;
    margin-top: 30px;

}

.hidden {
    display: none;
}

.notHidden {
    display: block;
}

button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
}

button:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hypotheses {
    margin-top: 30px;
}